.portfolio {
  width: 800px;
  padding: 20px;
  margin: 0 auto;

  .portfolio__tool-bar {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, auto));
    grid-gap: 3px;
    margin-bottom: 20px;

    .filter {
      all: unset;
      padding: 1px 3px;
      border: 1px solid black;
      text-align: center;
      cursor: pointer;
    }

    .selected {
      background-color: gray;
      color: white;
    }
  }

  .portfolio__cards-wrapper {
    column-count: 3;
    column-gap: 0;

    .card {
      break-inside: avoid;
      padding: 7px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
